/* Styles Game FourWins */
/* RaWiLOGIC Variablen-Definition DarkTheme */
/* Fonts */
/* Farben */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

canvas {
  opacity: 0.8;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
}

.gamediv {
  width: 882px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

#canvasdiv {
  width: 880px;
  height: 880px;
}

#dropbuttons {
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
}

#meldungdiv {
  width: 100%;
  height: 20px;
  margin: 0.75rem auto 0.75rem auto;
  padding: 0;
  text-align: center;
  color: #cccccc;
}

.centereddiv {
  width: 100%;
  height: 25px;
  margin: 0 0 0.5rem 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons {
  width: 100%;
  height: 30px;
  margin: 5px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.but {
  width: 10rem;
  height: 1.75rem;
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0;
  color: #aad6f8;
  text-decoration: none;
  letter-spacing: 0.05rem;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #444444;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b3b3f), to(#202027));
  background-image: linear-gradient(to bottom, #3b3b3f, #202027);
  background-repeat: repeat-x;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  outline: none;
}

.but:hover {
  color: #fd8f00;
}

.arrow-q-down {
  width: 13.73%;
  height: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: 1px solid #444444;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b3b3f), to(#202027));
  background-image: linear-gradient(to bottom, #3b3b3f, #202027);
  background-repeat: repeat-x;
  display: inline-block;
}

.arrow-q-down:before {
  width: 14px;
  height: 14px;
  top: -3px;
  left: 0px;
  content: '';
  position: relative;
  display: inline-block;
  border-top: 4px solid #2981c4;
  border-left: 4px solid #2981c4;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.arrow-q-down:hover:before {
  border-top: 4px solid #fd8f00;
  border-left: 4px solid #fd8f00;
}

#infocontent {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 0px 12px 0px;
  margin: 0;
  background: #000000;
  border: 1px solid #444444;
  z-index: 3;
  cursor: default;
  display: none;
}

#infocontent h1 {
  font-size: 1.4rem;
  text-align: left;
  margin: 10px 0px 0px 18px;
  letter-spacing: 0.05rem;
}

#infocontent h5 {
  font-size: 1.2rem;
  text-align: left;
  margin: 14px 0px 4px 18px;
  letter-spacing: 0.05rem;
}

#infocontent p {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: left;
  margin: 10px 0px 0px 18px;
  width: 92%;
  letter-spacing: 0.05rem;
}

.closebutton {
  width: 20px;
  height: 20px;
  position: relative;
  float: right;
  top: 8px;
  right: 10px;
  background-image: url("../svg/close.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0px 0px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.closebutton:hover {
  opacity: 1;
}

@media (max-width: 1920px) {
  .gamediv {
    width: 442px;
  }
  #canvasdiv {
    width: 440px;
    height: 440px;
  }
  .arrow-q-down {
    width: 13.15%;
  }
}

@media (max-width: 414px) {
  .gamediv {
    width: 382px;
  }
  #canvasdiv {
    width: 380px;
    height: 380px;
  }
  .arrow-q-down {
    width: 13%;
  }
  #infocontent {
    position: fixed;
    top: 6em;
    left: 0px;
    bottom: 0;
    overflow-y: auto;
  }
  .closebutton {
    position: fixed;
    top: 6.75em;
    right: 0.75em;
  }
}

@media (max-width: 380px) {
  .gamediv {
    width: 342px;
  }
  #canvasdiv {
    width: 340px;
    height: 340px;
  }
  .arrow-q-down {
    width: 12.86%;
  }
}

@media (max-width: 360px) {
  .gamediv {
    width: 332px;
  }
  #canvasdiv {
    width: 330px;
    height: 330px;
  }
  .arrow-q-down {
    width: 12.8%;
  }
}

@media (max-width: 320px) {
  .gamediv {
    width: 282px;
  }
  #canvasdiv {
    width: 280px;
    height: 280px;
  }
  .arrow-q-down {
    width: 12.55%;
  }
  .but {
    width: 8rem;
  }
}
