/* RaWiLOGIC Variablen-Definition DarkTheme */
/* Fonts */
/* Farben */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  font-family: "Verdana", sans-serif;
}

.onlypc {
  width: 100%;
  display: block;
}

.onlysp {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  display: none;
}

header {
  height: 6em;
  width: 100vw;
  position: fixed;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b3b3f), to(#202027));
  background-image: linear-gradient(to bottom, #3b3b3f, #202027);
  background-repeat: repeat-x;
}

.logobox {
  height: 4.25rem;
  margin: 0 0 0 1.5rem;
  display: inline-block;
}

.logo {
  height: 100%;
}

#menubox {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}

#menubox h5 {
  margin: 0;
  padding: 0;
  text-align: right;
}

.content {
  width: 100vw;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 6em;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  color: #2981c4;
  letter-spacing: 0.05rem;
  margin-top: 0.8rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
  color: #2981c4;
  letter-spacing: 0.05rem;
  margin-top: 0.6rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
  color: #2981c4;
  letter-spacing: 0.05rem;
  margin-top: 0.5rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #2981c4;
  letter-spacing: 0.05rem;
  margin-top: 0.4rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #2981c4;
  letter-spacing: 0.05rem;
  margin-top: 0.3rem;
}

h6 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #2981c4;
  letter-spacing: 0.05rem;
  margin-top: 0.3rem;
}

p, span, q, em, samp {
  font-size: 1.2rem;
  font-weight: normal;
  color: #cccccc;
  letter-spacing: 0.05rem;
  margin-top: 0.3rem;
}

code {
  font-size: 1.2rem;
  font-weight: normal;
  color: #cccccc;
  font-family: "Courier", "Courier New", monospace;
  letter-spacing: 0.05rem;
  margin-top: 0.3rem;
}

pre {
  font-size: 1.8rem;
  font-weight: bold;
  color: #b60303;
  letter-spacing: 0.05rem;
  margin-top: 0rem;
}

li {
  font-size: 1.2rem;
  font-weight: normal;
  color: #cccccc;
  letter-spacing: 0.05rem;
  list-style-position: inside;
}

a {
  font-size: 1.2rem;
  font-weight: normal;
  color: #aad6f8;
  letter-spacing: 0.05rem;
}

a:hover {
  color: #fd8f00;
}

sup, sub, u {
  font-weight: normal;
  color: #cccccc;
  letter-spacing: 0.05rem;
  margin-top: 0.3rem;
}

.centertext {
  width: 100%;
  margin: 0 auto 0.5rem auto;
  padding: 0;
}

.centertext h1, .centertext h2, .centertext h3, .centertext h4, .centertext h5, .centertext p {
  text-align: center;
  letter-spacing: 0.05rem;
}

.centertext a {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  letter-spacing: 0.05rem;
}

.infotext {
  width: 65%;
  margin: 1.5em auto 0 auto;
  padding: 0% 2% 0% 2%;
}

.vcenter {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.vcenter .centertext {
  width: 100%;
}

.buttondiv {
  width: 100%;
  margin: 0.8em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button01 {
  width: 20em;
  height: auto;
  cursor: pointer;
  outline: none;
  border: 1px solid #444444;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b3b3f), to(#202027));
  background-image: linear-gradient(to bottom, #3b3b3f, #202027);
  background-repeat: repeat-x;
}

.button01 p {
  font-weight: bold;
  line-height: 0;
  text-align: center;
  color: #aad6f8;
  text-decoration: none;
  letter-spacing: 0.05rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.button01:hover p {
  color: #fd8f00;
}

.button01:disabled p {
  color: #aaa;
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #383838;
}

::-webkit-scrollbar-thumb {
  background: #484848;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

@media (max-width: 1920px) {
  .button01 {
    width: 13rem;
    padding: 1rem 0 1rem 0;
  }
}

@media (max-width: 980px) {
  .logobox {
    margin: 0 0 0 1rem;
  }
  #menubox {
    right: 1rem;
  }
  .content {
    padding-bottom: 0.5rem;
  }
  .centertext, .infotext {
    width: 100%;
    margin: 0.25rem 0 0 0;
  }
  .vcenter {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: relative;
  }
  .buttondiv {
    width: 90%;
    margin: 0.8rem auto 0 auto;
  }
  .button01 {
    width: 15rem;
    height: 3rem;
  }
}
